<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.dubaiculture">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:name="com.app.dubaiculture.infrastructure.ApplicationEntry"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.app.dubaiculture.ui.preLogin.PreLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.app.dubaiculture.ui.postLogin.PostLoginActivity">
        </activity>
<!--        <activity android:name="com.app.dubaiculture.ui.widgets.DcWidget">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="${mapsApiKey}" />

        <receiver android:name=".ui.widgets.DcWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/dc_widget_layout_info" />
        </receiver>
    </application>

</manifest>